.about2{
    background: #F3F4FE;
}
/* About2.scss */
.image-container img {
    transition: transform 0.3s ease, border-radius 0.3s ease;
  }
  
  .image-container.hovered img {
    transform: scale(1.1);
    border-radius: 12px;
  }
  
  .image-container {
    transition: transform 0.5s ease-in-out;
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .image-container {
    img {
      transition: transform 0.3s ease, border-radius 0.3s ease;
  
      &.pulsate {
        animation: pulsate 2s infinite;
      }
    }
  
    &.hovered img {
      transform: scale(1.1);
      border-radius: 12px;
    }
  }
  
  