// Aim.scss

@media (max-width: 640px) {
    .text-3xl {
      font-size: 2rem; // Уменьшить размер заголовка для мобильных экранов
    }
  
    .list-disc {
      padding-left: 1rem; // Уменьшить отступ маркеров списка для мобильных экранов
    }
  
    .text-xl {
      font-size: 1rem; // Уменьшить размер основного текста для мобильных экранов
      line-height: 1.5; // Уменьшить интервал между строками
      margin-bottom: 1rem; // Уменьшить отступ после параграфа для мобильных экранов
    }
  }
  