.offcanvas {
  animation: move 1s ease forwards;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  /* Ширина для десктопной версии */
  height: 100vh;
  background-color: black;
  color: white;
}

@keyframes move {
  to {
    transform: translateX(0);
  }
}

/* Медиа-запрос для ограничения ширины на мобильных устройствах */
@media (max-width: 600px) {
  .offcanvas {
    width: 80%;
    /* Ширина для мобильной версии */
  }
}