.offcanvas-body {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.offcanvas-end.show .offcanvas-body {
  transform: translateX(0%);
  transition-delay: 0.5s; /* Задержка в 0.5 секунды */
}
.offcanvas-animation{
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
